version: "3.4"

networks:
  proxylampy:
    external: true
  serverlampy:
    external: true
  net:
    driver: overlay
    attachable: true

volumes:
  mariadb_data:

services:
  phpfpmexec:
    image: koromerzhin/phpfpm:7.4.12
    command: sh -c "composer install"
    volumes:
      - ${PWD}/apps:/var/www/
      - ${PWD}/conf/httpd.conf:/usr/local/apache2/conf/httpd.conf
    networks:
      - serverlampy
    depends_on:
      - mariadb
      - mercure
      - mailhog
      - redis
    deploy:
      restart_policy:
        condition: none
      labels:
        - "traefik.enable=false"
  apache:
    image: httpd:2.4.53
    depends_on:
      - phpfpm
    volumes:
      - ${PWD}/apps:/var/www/
      - ${PWD}/conf/httpd.conf:/usr/local/apache2/conf/httpd.conf
    networks:
      - net
      - proxylampy
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.prestashop.rule=Host(`prestashop.traefik.me`)"
        - "traefik.http.routers.prestashop-tls.tls.domains[0].main=prestashop.traefik.me"
        - "traefik.http.routers.prestashop.tls=true"
        - "traefik.http.services.prestashop.loadbalancer.server.port=80"
  phpfpm:
    image: koromerzhin/phpfpm:7.4.12
    depends_on:
      - mariadb
      - mercure
      - mailhog
      - redis
    volumes:
      - ${PWD}/apps:/var/www/
      - ${PWD}/conf/httpd.conf:/usr/local/apache2/conf/httpd.conf
    networks:
      - net
      - serverlampy
    deploy:
      labels:
        - "traefik.enable=false"
